/* about me */

.aboutme_text {
  color: darkslategray !important;
  font-size: smaller !important;
  line-height: 20px !important;
  white-space: pre-line;
}

/* Timeline */
.graybg {
  box-shadow: #898989;
}
.resume_timeline .timeline_content .timeline_title {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.resume_timeline .timeline_content .timeline_date {
  color: darkslategray;
}

.resume_timeline .timeline_content .timeline_description {
  color: gray;
  font-size: small;
  margin-top: 6px;
  white-space: pre-line;
}

/* Services */
.service {
  height: 100%;
  text-align: center;
  width: 100%;
}

.service .service_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  margin-top: 20px;
}

.service .service_description {
  color: #989898;
  border-color: var(--main-color);
  margin-right: 5px;
  text-align: center;
}

.service_icon > .MuiSvgIcon-root {
  font-size: 46px;
  margin-left: 0;
  font-weight: 300;
  color: darkslategray;
}

/* skills */
.skill {
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  min-height: 186px;
  box-shadow: 0px 2px 92px 0px rgba(255, 155, 0, 0.13) !important;
  -webkit-box-shadow: 0px 2px 92px 0px rgba(255, 155, 0, 0.13) !important;
  -moz-shadow: 0px 2px 92px 0px rgba(255, 155, 0, 0.13) !important;
}

.skill .skill_title {
  font-size: 14px;
  font-weight: 550;
  line-height: 35px;
}

.skill .skill_description {
  display: flex;
  align-items: center;
  color: #898989;
  font-weight: 400;
  line-height: 18px;
}

.skill .skill_description .timeline_dot {
  border-color: var(--main-color);
  padding: 2px;
  margin-right: 5px;
}

.servicesGrid{
  display: flex;
  justify-content: space-around;
}